In [1]:
import numpy as np
import pandas as pd
import keras.utils as to_categorical
from sklearn.preprocessing import LabelEncoder

The dataset we are using is of insuinsurance

In [2]:
data=pd.read_csv("/content/datasets_13720_18513_insurance.csv")

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

Converting Text form of column sex to digit

In [4]:
encoder = LabelEncoder()
x1=encoder.fit_transform(data.iloc[:,1])
data['sex']=pd.get_dummies(x1).values

In [5]:
data

      age  sex     bmi  children smoker     region      charges
0      19    1  27.900         0    yes  southwest  16884.92400
1      18    0  33.770         1     no  southeast   1725.55230
2      28    0  33.000         3     no  southeast   4449.46200
3      33    0  22.705         0     no  northwest  21984.47061
4      32    0  28.880         0     no  northwest   3866.85520
...   ...  ...     ...       ...    ...        ...          ...
1333   50    0  30.970         3     no  northwest  10600.54830
1334   18    1  31.920         0     no  northeast   2205.98080
1335   18    1  36.850         0     no  southeast   1629.83350
1336   21    1  25.800         0     no  southwest   2007.94500
1337   61    1  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

Same converting text form of column smoker to digit

In [6]:

x1=encoder.fit_transform(data.iloc[:,4])
data['smoker']=pd.get_dummies(x1).values

In [7]:
data

      age  sex     bmi  children  smoker     region      charges
0      19    1  27.900         0       0  southwest  16884.92400
1      18    0  33.770         1       1  southeast   1725.55230
2      28    0  33.000         3       1  southeast   4449.46200
3      33    0  22.705         0       1  northwest  21984.47061
4      32    0  28.880         0       1  northwest   3866.85520
...   ...  ...     ...       ...     ...        ...          ...
1333   50    0  30.970         3       1  northwest  10600.54830
1334   18    1  31.920         0       1  northeast   2205.98080
1335   18    1  36.850         0       1  southeast   1629.83350
1336   21    1  25.800         0       1  southwest   2007.94500
1337   61    1  29.070         0       0  northwest  29141.36030

[1338 rows x 7 columns]

Now creating a map to differentiate between regions 
This can be done by simply creating dictionary which contains key value pair

In [8]:
region={'southwest':1,'southeast':2,'northwest':3,'northeast':4}

In [9]:
data['region']=data['region'].map(region)

We have already created key value for different region but,now converting that into 0/1 and adding columns as this will in prediction

In [10]:
data
area=data.pop('region')

data['southwest']=((area==1)*1.0)
data['southeast']=((area==2)*1.0)
data['northwest']=((area==3)*1.0)
data['northeast']=((area==4)*1.0)

In [11]:
col_name="charges"
col=data.pop('charges')
data.insert(9,col_name,col)

In [12]:
data

      age  sex     bmi  children  ...  southeast  northwest  northeast      charges
0      19    1  27.900         0  ...        0.0        0.0        0.0  16884.92400
1      18    0  33.770         1  ...        1.0        0.0        0.0   1725.55230
2      28    0  33.000         3  ...        1.0        0.0        0.0   4449.46200
3      33    0  22.705         0  ...        0.0        1.0        0.0  21984.47061
4      32    0  28.880         0  ...        0.0        1.0        0.0   3866.85520
...   ...  ...     ...       ...  ...        ...        ...        ...          ...
1333   50    0  30.970         3  ...        0.0        1.0        0.0  10600.54830
1334   18    1  31.920         0  ...        0.0        0.0        1.0   2205.98080
1335   18    1  36.850         0  ...        1.0        0.0        0.0   1629.83350
1336   21    1  25.800         0  ...        0.0        0.0        0.0   2007.94500
1337   61    1  29.070         0  ...        0.0        1.0        0.0  29141.36030

[1338 rows x 10 columns]

In [13]:
x=data.iloc[:,0:9]
y=data.iloc[:,9]
print(x)
print(y)

      age  sex     bmi  children  ...  southwest  southeast  northwest  northeast
0      19    1  27.900         0  ...        1.0        0.0        0.0        0.0
1      18    0  33.770         1  ...        0.0        1.0        0.0        0.0
2      28    0  33.000         3  ...        0.0        1.0        0.0        0.0
3      33    0  22.705         0  ...        0.0        0.0        1.0        0.0
4      32    0  28.880         0  ...        0.0        0.0        1.0        0.0
...   ...  ...     ...       ...  ...        ...        ...        ...        ...
1333   50    0  30.970         3  ...        0.0        0.0        1.0        0.0
1334   18    1  31.920         0  ...        0.0        0.0        0.0        1.0
1335   18    1  36.850         0  ...        0.0        1.0        0.0        0.0
1336   21    1  25.800         0  ...        1.0        0.0        0.0        0.0
1337   61    1  29.070         0  ...        0.0        0.0        1.0        0.0

[1338 rows x 9 columns]
0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

As our dataset have some high range values so scaling into lower terms

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaller = MinMaxScaler()
scaller_target = MinMaxScaler()

In [16]:
target=data['charges']

In [17]:
data = data.drop(columns = ["charges"])

In [18]:
target

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [19]:
data=np.array(data.values)
target=np.array(target.values)

In [20]:
processed_data = scaller.fit_transform(data)
# processed_data2=scaller.transform(data)
processed_target=scaller_target.fit_transform(target.reshape(-1,1))

In [21]:
data.shape

(1338, 9)

In [22]:
processed_target.shape

(1338, 1)

In [24]:
processed_data.shape

(1338, 9)

In [25]:

x_train,x_test,y_train,y_test=train_test_split(processed_data,processed_target,test_size=0.2,random_state=0)

In [26]:
y_test.shape

(268, 1)

In [27]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD,Adam

model =Sequential()

Now creating model

In [28]:
model.add(Dense(100,input_shape=(9,),activation='relu'))
model.add(Dense(200,activation='relu'))
model.add(Dense(200,activation='relu'))
model.add(Dense(100,activation='relu'))
model.add(Dense(1))

model.compile(Adam(lr=0.001),loss='mse',metrics=['mse','mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               1000
_________________________________________________________________
dense_1 (Dense)              (None, 200)               20200
_________________________________________________________________
dense_2 (Dense)              (None, 200)               40200
_________________________________________________________________
dense_3 (Dense)              (None, 100)               20100
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 101
=================================================================
Total params: 81,601
Trainable params: 81,601
Non-trainable params: 0
_________________________________________________________________

In [50]:
model.fit(x_train,y_train,epochs=200)
y_pred=model.predict(x_test)

Epoch 1/200
34/34 [==============================] - 0s 2ms/step - loss: 7.7757e-04 - mse: 7.7757e-04 - mae: 0.0147
Epoch 2/200
34/34 [==============================] - 0s 2ms/step - loss: 8.2251e-04 - mse: 8.2251e-04 - mae: 0.0138
Epoch 3/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0167
Epoch 4/200
34/34 [==============================] - 0s 2ms/step - loss: 9.3221e-04 - mse: 9.3221e-04 - mae: 0.0153
Epoch 5/200
34/34 [==============================] - 0s 2ms/step - loss: 9.4910e-04 - mse: 9.4910e-04 - mae: 0.0149
Epoch 6/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0162
Epoch 7/200
34/34 [==============================] - 0s 2ms/step - loss: 8.8843e-04 - mse: 8.8843e-04 - mae: 0.0133
Epoch 8/200
34/34 [==============================] - 0s 2ms/step - loss: 8.8674e-04 - mse: 8.8674e-04 - mae: 0.0142
Epoch 9/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0010 - mse: 0.0010 - mae: 0.0154
Epoch 10/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0199
Epoch 11/200
34/34 [==============================] - 0s 2ms/step - loss: 9.9456e-04 - mse: 9.9456e-04 - mae: 0.0166
Epoch 12/200
34/34 [==============================] - 0s 2ms/step - loss: 6.4164e-04 - mse: 6.4164e-04 - mae: 0.0135
Epoch 13/200
34/34 [==============================] - 0s 2ms/step - loss: 6.4398e-04 - mse: 6.4398e-04 - mae: 0.0122
Epoch 14/200
34/34 [==============================] - 0s 2ms/step - loss: 6.4848e-04 - mse: 6.4848e-04 - mae: 0.0113
Epoch 15/200
34/34 [==============================] - 0s 2ms/step - loss: 8.9078e-04 - mse: 8.9078e-04 - mae: 0.0137
Epoch 16/200
34/34 [==============================] - 0s 2ms/step - loss: 8.0817e-04 - mse: 8.0817e-04 - mae: 0.0125
Epoch 17/200
34/34 [==============================] - 0s 2ms/step - loss: 6.3738e-04 - mse: 6.3738e-04 - mae: 0.0126
Epoch 18/200
34/34 [==============================] - 0s 2ms/step - loss: 5.9379e-04 - mse: 5.9379e-04 - mae: 0.0110
Epoch 19/200
34/34 [==============================] - 0s 2ms/step - loss: 6.4190e-04 - mse: 6.4190e-04 - mae: 0.0113
Epoch 20/200
34/34 [==============================] - 0s 2ms/step - loss: 8.1747e-04 - mse: 8.1747e-04 - mae: 0.0138
Epoch 21/200
34/34 [==============================] - 0s 2ms/step - loss: 7.0757e-04 - mse: 7.0757e-04 - mae: 0.0128
Epoch 22/200
34/34 [==============================] - 0s 2ms/step - loss: 9.3961e-04 - mse: 9.3961e-04 - mae: 0.0144
Epoch 23/200
34/34 [==============================] - 0s 2ms/step - loss: 9.1717e-04 - mse: 9.1717e-04 - mae: 0.0139
Epoch 24/200
34/34 [==============================] - 0s 2ms/step - loss: 9.8925e-04 - mse: 9.8925e-04 - mae: 0.0148
Epoch 25/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0010 - mse: 0.0010 - mae: 0.0161
Epoch 26/200
34/34 [==============================] - 0s 2ms/step - loss: 9.6757e-04 - mse: 9.6757e-04 - mae: 0.0169
Epoch 27/200
34/34 [==============================] - 0s 2ms/step - loss: 8.2440e-04 - mse: 8.2440e-04 - mae: 0.0132
Epoch 28/200
34/34 [==============================] - 0s 2ms/step - loss: 7.6201e-04 - mse: 7.6201e-04 - mae: 0.0130
Epoch 29/200
34/34 [==============================] - 0s 2ms/step - loss: 6.8967e-04 - mse: 6.8967e-04 - mae: 0.0123
Epoch 30/200
34/34 [==============================] - 0s 2ms/step - loss: 5.8834e-04 - mse: 5.8834e-04 - mae: 0.0116
Epoch 31/200
34/34 [==============================] - 0s 2ms/step - loss: 9.2991e-04 - mse: 9.2991e-04 - mae: 0.0145
Epoch 32/200
34/34 [==============================] - 0s 3ms/step - loss: 5.5121e-04 - mse: 5.5121e-04 - mae: 0.0108
Epoch 33/200
34/34 [==============================] - 0s 2ms/step - loss: 5.6361e-04 - mse: 5.6361e-04 - mae: 0.0102
Epoch 34/200
34/34 [==============================] - 0s 2ms/step - loss: 7.6280e-04 - mse: 7.6280e-04 - mae: 0.0124
Epoch 35/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0163
Epoch 36/200
34/34 [==============================] - 0s 2ms/step - loss: 9.3822e-04 - mse: 9.3822e-04 - mae: 0.0157
Epoch 37/200
34/34 [==============================] - 0s 2ms/step - loss: 8.8109e-04 - mse: 8.8109e-04 - mae: 0.0150
Epoch 38/200
34/34 [==============================] - 0s 2ms/step - loss: 8.0118e-04 - mse: 8.0118e-04 - mae: 0.0138
Epoch 39/200
34/34 [==============================] - 0s 2ms/step - loss: 8.5635e-04 - mse: 8.5635e-04 - mae: 0.0132
Epoch 40/200
34/34 [==============================] - 0s 2ms/step - loss: 9.1625e-04 - mse: 9.1625e-04 - mae: 0.0149
Epoch 41/200
34/34 [==============================] - 0s 2ms/step - loss: 7.9456e-04 - mse: 7.9456e-04 - mae: 0.0128
Epoch 42/200
34/34 [==============================] - 0s 2ms/step - loss: 8.5333e-04 - mse: 8.5333e-04 - mae: 0.0136
Epoch 43/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0166
Epoch 44/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0166
Epoch 45/200
34/34 [==============================] - 0s 2ms/step - loss: 8.6178e-04 - mse: 8.6178e-04 - mae: 0.0144
Epoch 46/200
34/34 [==============================] - 0s 2ms/step - loss: 8.5916e-04 - mse: 8.5916e-04 - mae: 0.0131
Epoch 47/200
34/34 [==============================] - 0s 2ms/step - loss: 7.7692e-04 - mse: 7.7692e-04 - mae: 0.0134
Epoch 48/200
34/34 [==============================] - 0s 3ms/step - loss: 7.6438e-04 - mse: 7.6438e-04 - mae: 0.0135
Epoch 49/200
34/34 [==============================] - 0s 2ms/step - loss: 8.2976e-04 - mse: 8.2976e-04 - mae: 0.0133
Epoch 50/200
34/34 [==============================] - 0s 2ms/step - loss: 8.0709e-04 - mse: 8.0709e-04 - mae: 0.0133
Epoch 51/200
34/34 [==============================] - 0s 2ms/step - loss: 6.0822e-04 - mse: 6.0822e-04 - mae: 0.0118
Epoch 52/200
34/34 [==============================] - 0s 2ms/step - loss: 6.7152e-04 - mse: 6.7152e-04 - mae: 0.0118
Epoch 53/200
34/34 [==============================] - 0s 2ms/step - loss: 5.7006e-04 - mse: 5.7006e-04 - mae: 0.0113
Epoch 54/200
34/34 [==============================] - 0s 2ms/step - loss: 6.3494e-04 - mse: 6.3494e-04 - mae: 0.0109
Epoch 55/200
34/34 [==============================] - 0s 2ms/step - loss: 7.7175e-04 - mse: 7.7175e-04 - mae: 0.0116
Epoch 56/200
34/34 [==============================] - 0s 2ms/step - loss: 6.5099e-04 - mse: 6.5099e-04 - mae: 0.0122
Epoch 57/200
34/34 [==============================] - 0s 2ms/step - loss: 7.8780e-04 - mse: 7.8780e-04 - mae: 0.0132
Epoch 58/200
34/34 [==============================] - 0s 2ms/step - loss: 9.1803e-04 - mse: 9.1803e-04 - mae: 0.0141
Epoch 59/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0179
Epoch 60/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0207
Epoch 61/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0017 - mse: 0.0017 - mae: 0.0240
Epoch 62/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0212
Epoch 63/200
34/34 [==============================] - 0s 2ms/step - loss: 8.7256e-04 - mse: 8.7256e-04 - mae: 0.0155
Epoch 64/200
34/34 [==============================] - 0s 2ms/step - loss: 7.4542e-04 - mse: 7.4542e-04 - mae: 0.0134
Epoch 65/200
34/34 [==============================] - 0s 2ms/step - loss: 6.4929e-04 - mse: 6.4929e-04 - mae: 0.0124
Epoch 66/200
34/34 [==============================] - 0s 2ms/step - loss: 8.5133e-04 - mse: 8.5133e-04 - mae: 0.0135
Epoch 67/200
34/34 [==============================] - 0s 2ms/step - loss: 7.3113e-04 - mse: 7.3113e-04 - mae: 0.0120
Epoch 68/200
34/34 [==============================] - 0s 3ms/step - loss: 6.9115e-04 - mse: 6.9115e-04 - mae: 0.0128
Epoch 69/200
34/34 [==============================] - 0s 2ms/step - loss: 5.6635e-04 - mse: 5.6635e-04 - mae: 0.0109
Epoch 70/200
34/34 [==============================] - 0s 2ms/step - loss: 7.7692e-04 - mse: 7.7692e-04 - mae: 0.0127
Epoch 71/200
34/34 [==============================] - 0s 3ms/step - loss: 7.7985e-04 - mse: 7.7985e-04 - mae: 0.0131
Epoch 72/200
34/34 [==============================] - 0s 2ms/step - loss: 5.7492e-04 - mse: 5.7492e-04 - mae: 0.0113
Epoch 73/200
34/34 [==============================] - 0s 2ms/step - loss: 5.0503e-04 - mse: 5.0503e-04 - mae: 0.0097
Epoch 74/200
34/34 [==============================] - 0s 2ms/step - loss: 5.4937e-04 - mse: 5.4937e-04 - mae: 0.0106
Epoch 75/200
34/34 [==============================] - 0s 2ms/step - loss: 5.2876e-04 - mse: 5.2876e-04 - mae: 0.0112
Epoch 76/200
34/34 [==============================] - 0s 2ms/step - loss: 5.2216e-04 - mse: 5.2216e-04 - mae: 0.0106
Epoch 77/200
34/34 [==============================] - 0s 2ms/step - loss: 8.1606e-04 - mse: 8.1606e-04 - mae: 0.0116
Epoch 78/200
34/34 [==============================] - 0s 2ms/step - loss: 9.5050e-04 - mse: 9.5050e-04 - mae: 0.0139
Epoch 79/200
34/34 [==============================] - 0s 2ms/step - loss: 7.3509e-04 - mse: 7.3509e-04 - mae: 0.0133
Epoch 80/200
34/34 [==============================] - 0s 2ms/step - loss: 7.1560e-04 - mse: 7.1560e-04 - mae: 0.0118
Epoch 81/200
34/34 [==============================] - 0s 2ms/step - loss: 6.7275e-04 - mse: 6.7275e-04 - mae: 0.0121
Epoch 82/200
34/34 [==============================] - 0s 2ms/step - loss: 7.5915e-04 - mse: 7.5915e-04 - mae: 0.0125
Epoch 83/200
34/34 [==============================] - 0s 3ms/step - loss: 9.6472e-04 - mse: 9.6472e-04 - mae: 0.0138
Epoch 84/200
34/34 [==============================] - 0s 2ms/step - loss: 8.1037e-04 - mse: 8.1037e-04 - mae: 0.0134
Epoch 85/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0010 - mse: 0.0010 - mae: 0.0148
Epoch 86/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0166
Epoch 87/200
34/34 [==============================] - 0s 2ms/step - loss: 9.1930e-04 - mse: 9.1930e-04 - mae: 0.0154
Epoch 88/200
34/34 [==============================] - 0s 2ms/step - loss: 6.9289e-04 - mse: 6.9289e-04 - mae: 0.0132
Epoch 89/200
34/34 [==============================] - 0s 2ms/step - loss: 6.6077e-04 - mse: 6.6077e-04 - mae: 0.0133
Epoch 90/200
34/34 [==============================] - 0s 2ms/step - loss: 6.3501e-04 - mse: 6.3501e-04 - mae: 0.0117
Epoch 91/200
34/34 [==============================] - 0s 2ms/step - loss: 6.6973e-04 - mse: 6.6973e-04 - mae: 0.0115
Epoch 92/200
34/34 [==============================] - 0s 2ms/step - loss: 7.5275e-04 - mse: 7.5275e-04 - mae: 0.0125
Epoch 93/200
34/34 [==============================] - 0s 2ms/step - loss: 7.5825e-04 - mse: 7.5825e-04 - mae: 0.0128
Epoch 94/200
34/34 [==============================] - 0s 2ms/step - loss: 6.4987e-04 - mse: 6.4987e-04 - mae: 0.0121
Epoch 95/200
34/34 [==============================] - 0s 2ms/step - loss: 7.3996e-04 - mse: 7.3996e-04 - mae: 0.0118
Epoch 96/200
34/34 [==============================] - 0s 2ms/step - loss: 5.6794e-04 - mse: 5.6794e-04 - mae: 0.0114
Epoch 97/200
34/34 [==============================] - 0s 3ms/step - loss: 6.0357e-04 - mse: 6.0357e-04 - mae: 0.0117
Epoch 98/200
34/34 [==============================] - 0s 3ms/step - loss: 4.8262e-04 - mse: 4.8262e-04 - mae: 0.0101
Epoch 99/200
34/34 [==============================] - 0s 2ms/step - loss: 6.1544e-04 - mse: 6.1544e-04 - mae: 0.0112
Epoch 100/200
34/34 [==============================] - 0s 2ms/step - loss: 6.1758e-04 - mse: 6.1758e-04 - mae: 0.0115
Epoch 101/200
34/34 [==============================] - 0s 2ms/step - loss: 8.1711e-04 - mse: 8.1711e-04 - mae: 0.0144
Epoch 102/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0157
Epoch 103/200
34/34 [==============================] - 0s 2ms/step - loss: 6.9849e-04 - mse: 6.9849e-04 - mae: 0.0128
Epoch 104/200
34/34 [==============================] - 0s 2ms/step - loss: 7.2184e-04 - mse: 7.2184e-04 - mae: 0.0130
Epoch 105/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0166
Epoch 106/200
34/34 [==============================] - 0s 3ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0160
Epoch 107/200
34/34 [==============================] - 0s 2ms/step - loss: 9.9000e-04 - mse: 9.9000e-04 - mae: 0.0159
Epoch 108/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0010 - mse: 0.0010 - mae: 0.0155
Epoch 109/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0203
Epoch 110/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0202
Epoch 111/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0173
Epoch 112/200
34/34 [==============================] - 0s 2ms/step - loss: 7.9180e-04 - mse: 7.9180e-04 - mae: 0.0133
Epoch 113/200
34/34 [==============================] - 0s 2ms/step - loss: 6.5848e-04 - mse: 6.5848e-04 - mae: 0.0119
Epoch 114/200
34/34 [==============================] - 0s 2ms/step - loss: 6.9193e-04 - mse: 6.9193e-04 - mae: 0.0130
Epoch 115/200
34/34 [==============================] - 0s 2ms/step - loss: 7.4981e-04 - mse: 7.4981e-04 - mae: 0.0122
Epoch 116/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0156
Epoch 117/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0197
Epoch 118/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0163
Epoch 119/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0157
Epoch 120/200
34/34 [==============================] - 0s 2ms/step - loss: 9.3227e-04 - mse: 9.3227e-04 - mae: 0.0151
Epoch 121/200
34/34 [==============================] - 0s 2ms/step - loss: 7.3864e-04 - mse: 7.3864e-04 - mae: 0.0134
Epoch 122/200
34/34 [==============================] - 0s 2ms/step - loss: 5.8839e-04 - mse: 5.8839e-04 - mae: 0.0114
Epoch 123/200
34/34 [==============================] - 0s 2ms/step - loss: 7.2299e-04 - mse: 7.2299e-04 - mae: 0.0114
Epoch 124/200
34/34 [==============================] - 0s 2ms/step - loss: 6.7136e-04 - mse: 6.7136e-04 - mae: 0.0120
Epoch 125/200
34/34 [==============================] - 0s 2ms/step - loss: 8.0145e-04 - mse: 8.0145e-04 - mae: 0.0127
Epoch 126/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0165
Epoch 127/200
34/34 [==============================] - 0s 2ms/step - loss: 9.6091e-04 - mse: 9.6091e-04 - mae: 0.0161
Epoch 128/200
34/34 [==============================] - 0s 2ms/step - loss: 7.9619e-04 - mse: 7.9619e-04 - mae: 0.0143
Epoch 129/200
34/34 [==============================] - 0s 2ms/step - loss: 8.4660e-04 - mse: 8.4660e-04 - mae: 0.0144
Epoch 130/200
34/34 [==============================] - 0s 2ms/step - loss: 9.0310e-04 - mse: 9.0310e-04 - mae: 0.0153
Epoch 131/200
34/34 [==============================] - 0s 2ms/step - loss: 8.2379e-04 - mse: 8.2379e-04 - mae: 0.0142
Epoch 132/200
34/34 [==============================] - 0s 2ms/step - loss: 7.6027e-04 - mse: 7.6027e-04 - mae: 0.0137
Epoch 133/200
34/34 [==============================] - 0s 2ms/step - loss: 5.5016e-04 - mse: 5.5016e-04 - mae: 0.0121
Epoch 134/200
34/34 [==============================] - 0s 3ms/step - loss: 7.0021e-04 - mse: 7.0021e-04 - mae: 0.0124
Epoch 135/200
34/34 [==============================] - 0s 2ms/step - loss: 8.7659e-04 - mse: 8.7659e-04 - mae: 0.0127
Epoch 136/200
34/34 [==============================] - 0s 2ms/step - loss: 9.6254e-04 - mse: 9.6254e-04 - mae: 0.0160
Epoch 137/200
34/34 [==============================] - 0s 2ms/step - loss: 7.4630e-04 - mse: 7.4630e-04 - mae: 0.0128
Epoch 138/200
34/34 [==============================] - 0s 2ms/step - loss: 8.2019e-04 - mse: 8.2019e-04 - mae: 0.0129
Epoch 139/200
34/34 [==============================] - 0s 2ms/step - loss: 7.8126e-04 - mse: 7.8126e-04 - mae: 0.0128
Epoch 140/200
34/34 [==============================] - 0s 2ms/step - loss: 5.8659e-04 - mse: 5.8659e-04 - mae: 0.0109
Epoch 141/200
34/34 [==============================] - 0s 2ms/step - loss: 5.9526e-04 - mse: 5.9526e-04 - mae: 0.0104
Epoch 142/200
34/34 [==============================] - 0s 2ms/step - loss: 5.6852e-04 - mse: 5.6852e-04 - mae: 0.0098
Epoch 143/200
34/34 [==============================] - 0s 2ms/step - loss: 5.2064e-04 - mse: 5.2064e-04 - mae: 0.0098
Epoch 144/200
34/34 [==============================] - 0s 2ms/step - loss: 9.9217e-04 - mse: 9.9217e-04 - mae: 0.0139
Epoch 145/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0175
Epoch 146/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0170
Epoch 147/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0159
Epoch 148/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0190
Epoch 149/200
34/34 [==============================] - 0s 2ms/step - loss: 9.6630e-04 - mse: 9.6630e-04 - mae: 0.0171
Epoch 150/200
34/34 [==============================] - 0s 2ms/step - loss: 7.5486e-04 - mse: 7.5486e-04 - mae: 0.0131
Epoch 151/200
34/34 [==============================] - 0s 2ms/step - loss: 5.2782e-04 - mse: 5.2782e-04 - mae: 0.0112
Epoch 152/200
34/34 [==============================] - 0s 2ms/step - loss: 6.7620e-04 - mse: 6.7620e-04 - mae: 0.0119
Epoch 153/200
34/34 [==============================] - 0s 3ms/step - loss: 6.8433e-04 - mse: 6.8433e-04 - mae: 0.0124
Epoch 154/200
34/34 [==============================] - 0s 2ms/step - loss: 5.5129e-04 - mse: 5.5129e-04 - mae: 0.0123
Epoch 155/200
34/34 [==============================] - 0s 3ms/step - loss: 5.4008e-04 - mse: 5.4008e-04 - mae: 0.0101
Epoch 156/200
34/34 [==============================] - 0s 2ms/step - loss: 5.5125e-04 - mse: 5.5125e-04 - mae: 0.0101
Epoch 157/200
34/34 [==============================] - 0s 2ms/step - loss: 5.9143e-04 - mse: 5.9143e-04 - mae: 0.0107
Epoch 158/200
34/34 [==============================] - 0s 2ms/step - loss: 5.4371e-04 - mse: 5.4371e-04 - mae: 0.0109
Epoch 159/200
34/34 [==============================] - 0s 2ms/step - loss: 4.5802e-04 - mse: 4.5802e-04 - mae: 0.0105
Epoch 160/200
34/34 [==============================] - 0s 2ms/step - loss: 4.5083e-04 - mse: 4.5083e-04 - mae: 0.0095
Epoch 161/200
34/34 [==============================] - 0s 2ms/step - loss: 3.8262e-04 - mse: 3.8262e-04 - mae: 0.0088
Epoch 162/200
34/34 [==============================] - 0s 2ms/step - loss: 5.2275e-04 - mse: 5.2275e-04 - mae: 0.0091
Epoch 163/200
34/34 [==============================] - 0s 2ms/step - loss: 3.8233e-04 - mse: 3.8233e-04 - mae: 0.0083
Epoch 164/200
34/34 [==============================] - 0s 2ms/step - loss: 4.1440e-04 - mse: 4.1440e-04 - mae: 0.0091
Epoch 165/200
34/34 [==============================] - 0s 3ms/step - loss: 7.8889e-04 - mse: 7.8889e-04 - mae: 0.0122
Epoch 166/200
34/34 [==============================] - 0s 2ms/step - loss: 9.7281e-04 - mse: 9.7281e-04 - mae: 0.0161
Epoch 167/200
34/34 [==============================] - 0s 2ms/step - loss: 8.4401e-04 - mse: 8.4401e-04 - mae: 0.0133
Epoch 168/200
34/34 [==============================] - 0s 2ms/step - loss: 7.9698e-04 - mse: 7.9698e-04 - mae: 0.0135
Epoch 169/200
34/34 [==============================] - 0s 2ms/step - loss: 7.7412e-04 - mse: 7.7412e-04 - mae: 0.0141
Epoch 170/200
34/34 [==============================] - 0s 2ms/step - loss: 8.6515e-04 - mse: 8.6515e-04 - mae: 0.0134
Epoch 171/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0159
Epoch 172/200
34/34 [==============================] - 0s 2ms/step - loss: 0.0021 - mse: 0.0021 - mae: 0.0232
Epoch 173/200

In [ ]:
import keras
keras.backend.clear_session()

So the minimum error in training I was able to achieve was 6.8077e^-4

In [48]:
from sklearn.metrics import  mean_squared_error

In [51]:
print(mean_squared_error(y_test,y_pred))

0.007386053817811456

And the minimum error in my testing is 0.00738